<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Licensing</title>
        <link href="/images/css/cdol_bootstrap.css?~[time]" rel="stylesheet" media="screen">
        ~[wc:commonscripts]
        <link href="/images/css/screen.css?~[time]" rel="stylesheet" media="screen">
        <link href="/images/css/print.css?~[time]" rel="stylesheet" media="print">
        <link href="/images/css/cdol.css?~[time]" rel="stylesheet" media="screen">
        <link href="/images/css/cdol_print.css?~[time]" rel="stylesheet" media="print">
    </head>

    <body>
        ~[wc:admin_header_css]
        <a href="/admin/home.html" target="_top">~[text:psx.html.admin_reports.runreports.start_page]</a> &gt;
        Licensing
        ~[wc:admin_navigation_css]
        <div id="cdol-licensing-list-app-div" data-require-path="components/licensing/index"
            data-module-name="cdolLicensingMod" data-ng-controller="cdolLicensingCtrl"
            data-ng-cur-school-id="~(curschoolid)" data-ng-license-type="~(gpv.licenseType)"
            data-ng-user-type="~(gpv.userType)" data-ng-cloak>
            <h1 class="mb-1">{{licenseType | capitalize}} Licensing</h1>
            <div class="btn-toolbar justify-content-between ms-3 me-4" role="toolbar">
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-outline-primary"
                        data-ng-class="{'active': userType === 'students'}"
                        data-ng-click="loadData('students')">Students</button>
                    <button type="button" class="btn btn-outline-primary"
                        data-ng-class="{'active': userType === 'users'}"
                        data-ng-click="loadData('users')">Staff</button>
                </div>
                <div class="input-group">
                    <button data-ng-click="addCollapsedClass(userType + 'Header', userType)"
                        data-ng-disabled="curSelectionCounts[userType] < 1" data-ng-show="!showAddstudentsTable">
                        Load Current Currently Selected {{userType | capitalize }} ({{curSelectionCounts[userType]}})
                    </button>
                </div>
            </div>
            <div id="noTimer" pss-feedback-widget success="getSuccessMessages()"></div>
            <div id="withTimer" pss-feedback-widget timed-handler="msgContext.successMsgHandler"></div>
            <div id="wait-spinner-div" data-ng-show="mainSpinner" class="m-3">
                <div data-pss-wait-spinner="large" style="background-color: transparent;"></div>
            </div>
            <student-list data-ng-show="userType === 'students'"></student-list>
            <user-list data-ng-show="userType === 'users'"></user-list>

        </div>
        ~[wc:admin_footer_css]
    </body>

</html>