<div data-ng-show="!mainSpinner">
    <h2 id="studentsHeader1" pss-expand-collapse-item="collapsibleHeaders" data-ng-hide="!showAddstudentsTable">Add
        {{licenseType | capitalize}} Licenses to Currently Selected {{userType | capitalize }}</h2>
    <div id="wait-spinner-div2" data-ng-if="studentsSpinner2" class="p-4 m-3">
        <div data-pss-wait-spinner="medium" style="background-color: transparent;"></div>
    </div>
    <div data-ng-hide="!showAddstudentsTable">
        <div class="container-fluid">
            <div class="row">
                <div class="col-auto me-auto"><strong>Total: {{curSelectionCounts.students}} <span
                            data-ng-hide="!useHandstudentsSelectionAdd">Selected:
                            {{selectedAddstudentsDcids.length}}</span></strong>
                </div>
                <div class="col-auto me-2">
                    <button data-ng-hide="useHandstudentsSelectionAdd"
                        data-ng-click="useHandstudentsSelectionAdd = true">Select By
                        Hand</button>
                    <button data-ng-hide="!useHandstudentsSelectionAdd"
                        data-ng-click="cancelHandSelection(userType, 'Add')" class="dark-orange">Cancel Select By
                        Hand</button>
                    <button data-ng-click="confirmPopUp('Add', licenseType, userType, selectedAddstudentsDcids.length)"
                        data-ng-disabled="selectedAddstudentsDcids.length < 1">Add
                        {{licenseType | capitalize}} License to Selected {{userType | capitalize }}
                        ({{selectedAddstudentsDcids.length}})</button>
                </div>
            </div>
        </div>
        <div id="license-student-add-grid" data-pss-grid-widget data-data="curSelection.students"
            data-filtered-data="filteredLicensestudentsAddList" data-filter-constraint="no-filters">
            <table class="grid">
                <thead class="sticky-header">
                    <tr>
                        <th data-ng-show="useHandstudentsSelectionAdd">
                            <input id="checkAllAdd" type="checkbox" data-ng-model="selectAllAddChecked"
                                data-ng-click="selectToAll($event, userType, 'Add')">
                        </th>
                        <th data-pss-sort-fields="number" class="nowrap">Student Number</th>
                        <th data-pss-sort-fields="lastfirst" data-primary-sort="ascending" class="nowrap">Student Name
                        </th>
                        <th data-pss-sort-fields="email_addr" class="nowrap">Email</th>
                        <th data-pss-sort-fields="license_adobe">{{licenseType | capitalize}} License</th>
                        <th data-pss-sort-fields="license_adobe_group" class="nowrap">{{licenseType | capitalize}}
                            License Group</th>
                        <th data-pss-sort-fields="school_abbr" data-ng-if="curSchoolId == 0">School</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="student in filteredLicensestudentsAddList">
                        <td data-ng-show="useHandstudentsSelectionAdd"><input row-data="{{student.dcid}}"
                                type="checkbox" data-ng-model="student.selectToAdd"
                                data-ng-change="toggleSelection(student.dcid, student.selectToAdd, userType,'Add')">
                        </td>
                        <td class="nowrap"><a
                                href="/admin/students/generaldemographics.html?frn=001{{student.dcid}}">{{student.number}}</a>
                        </td>
                        <td class="nowrap">{{student.lastfirst}}</td>
                        <td class="nowrap">{{student.email_addr}}</td>
                        <td>
                            <span
                                data-ng-class="{'mark-complete': student.license_adobe == '1', 'mark-incomplete': student.license_adobe != '1'}"></span>
                        </td>
                        <td class="nowrap">
                            <span ng-if="student.license_adobe == 1 && !student.license_adobe_group"
                                class="text-center"><pds-icon name="inprogress-alt"
                                    class="style-scope x-scope pds-icon-0 pds-widget d-inline-block text-center text-primary"
                                    pds-widget="pds-widget" style="zoom: 0.7;"></pds-icon>
                                In Progress ...
                            </span>
                            <span ng-if="!(student.license_adobe == 1 && !student.license_adobe_group)">
                                {{student.license_adobe_group}}
                            </span>
                        </td>
                        <td data-ng-if="curSchoolId == 0">{{student.school_abbr}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2 id="studentsHeader2" pss-expand-collapse-item="collapsibleHeaders">Current {{userType | capitalize }} with
        {{licenseType |
        capitalize }} Licenses</h2>
    <div id="studentsHeader2Div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-auto me-auto"><strong>Total: {{licenseListCounts.students}} <span
                            data-ng-hide="!useHandstudentsSelectionRemove">Selected:
                            {{selectedRemovestudentsDcids.length}}</span></strong>
                </div>
                <div class="col-auto me-2">
                    <button data-ng-hide="useHandstudentsSelectionRemove"
                        data-ng-click="useHandstudentsSelectionRemove = true; selectedRemovestudentsDcids = []">Select
                        By
                        Hand</button>
                    <button data-ng-hide="!useHandstudentsSelectionRemove"
                        data-ng-click="cancelHandSelection(userType, 'Remove')" class="dark-orange">Cancel Select By
                        Hand</button>
                    <button
                        data-ng-click="confirmPopUp('Remove', licenseType, userType, selectedRemovestudentsDcids.length)"
                        data-ng-disabled="selectedRemovestudentsDcids.length < 1">Remove {{licenseType | capitalize}}
                        License from Selected {{userType | capitalize }}
                        ({{selectedRemovestudentsDcids.length}})</button>
                </div>
            </div>
        </div>
        <div id="license-student-grid" data-pss-grid-widget data-data="licenseList.students"
            data-filtered-data="filteredLicensestudentsList" data-filter-constraint="no-filters">
            <table class="grid">
                <thead class="sticky-header">
                    <tr>
                        <th data-ng-show="useHandstudentsSelectionRemove"><input id="checkAllRemove" type="checkbox"
                                data-ng-click="selectToAll($event, userType, 'Remove')"></th>
                        <th data-pss-sort-fields="number" class="nowrap">Student Number</th>
                        <th data-pss-sort-fields="lastfirst" data-primary-sort="ascending" class="nowrap">Student Name
                        </th>
                        <th data-pss-sort-fields="email_addr" class="nowrap">Email</th>
                        <th data-pss-sort-fields="license_adobe">{{licenseType | capitalize}} License</th>
                        <th data-pss-sort-fields="license_adobe_group" class="nowrap">{{licenseType | capitalize}}
                            License Group</th>
                        <th data-pss-sort-fields="school_abbr" data-ng-if="curSchoolId == 0">School</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="student in filteredLicensestudentsList">
                        <td data-ng-show="useHandstudentsSelectionRemove"><input row-data="{{student.dcid}}"
                                type="checkbox" data-ng-model="student.selectToRemove"
                                data-ng-change="toggleSelection(student.dcid, student.selectToRemove, userType, 'Remove')">
                        </td>
                        <td class="nowrap"><a
                                href="/admin/students/generaldemographics.html?frn=001{{student.dcid}}">{{student.number}}</a>
                        </td>
                        <td class="nowrap">{{student.lastfirst}}</td>
                        <td class="nowrap">{{student.email_addr}}</td>
                        <td>
                            <span
                                data-ng-class="{'mark-complete': student.license_adobe == '1', 'mark-incomplete': student.license_adobe != '1'}"></span>
                        </td>
                        <td class="nowrap">
                            <span ng-if="student.license_adobe == 1 && !student.license_adobe_group"
                                class="text-center"><pds-icon name="inprogress-alt"
                                    class="style-scope x-scope pds-icon-0 pds-widget d-inline-block text-center text-primary"
                                    pds-widget="pds-widget" style="zoom: 0.7;"></pds-icon>
                                In Progress ...
                            </span>
                            <span ng-if="!(student.license_adobe == 1 && !student.license_adobe_group)">
                                {{student.license_adobe_group}}
                            </span>
                        </td>
                        <td data-ng-if="curSchoolId == 0">{{student.school_abbr}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>