<div id="license-users-grid" data-pss-grid-widget data-data="licenseList.users" data-filtered-data="filteredLicenseUsersList"
    data-client-side-pagination="true">
    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="number" class="nowrap">Staff Number</th>
                <th data-pss-sort-fields="lastfirst" class="nowrap">Staff Name</th>
                <th data-pss-sort-fields="email_addr" class="nowrap">Email</th>
                <th data-pss-sort-fields="license_adobe">Adobe License</th>
                <th data-pss-sort-fields="license_adobe_group" class="nowrap">Adobe License Group</th>
                <th data-pss-sort-fields="school_abbr">School</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="user in filteredLicenseUsersList">
                <td row-data="{{user.dcid}}">{{$index +1}}</td>
                <td class="nowrap"><a
                        href="/admin/faculty/edit.html?frn=005{{user.dcid}}">{{user.number}}</a></td>
                <td class="nowrap">{{user.lastfirst}}</td>
                <td class="nowrap">{{user.email_addr}}</td>
                <td><span
                        data-ng-class="{'mark-complete': user.license_adobe, 'mark-incomplete': !user.license_adobe}"></span>
                </td>
                <td class="nowrap">{{user.license_adobe_group}}</td>
                <td>{{user.school_abbr}}</td>
            </tr>
        </tbody>
    </table>

</div>